body {
  max-width: 700px;
  margin: 30px;
}

h1 {
  font-family: Futura;
}

h2 {
  font-family: Futura;
}

p {
  font-family: comic-sans;
  font-size: 20px;
  color: blue;
}

blockquote {
  font-family: comic-sans;
  font-size: 20px;
  color: blue;
  font-style: italic;
}
