.library_background {
  min-height: 100vh;

  --s: 228px; /* control the size*/
  --c1: #f86466;
  --c2: #000000;
  --c3: #ffffff;
  
  --_g: conic-gradient(at 50% 25%,#0000 75%,var(--c1) 0);
  background:
    var(--_g),var(--_g) var(--s) var(--s),
    var(--_g) calc(2*var(--s)) calc(2*var(--s)),
    var(--_g) calc(3*var(--s)) calc(3*var(--s)),
    repeating-linear-gradient(135deg,var(--c2) 0 12.5%,var(--c3) 0 25%);
  background-size: calc(4*var(--s)) calc(4*var(--s))
}
