html {
  background-color: #fec7d7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e172c;
  font-family: futura;
}

a {
  color: #0e172c;
}
a:visited {
  color: #0e172c;
}

p,
ul,
ol,
span,
li,
time {
  color: #0e172c;
}

pre {
  background-color: #d9d4e7;
  border-radius: 4px;
  padding: 24px;
}

.bigLink {
  font-size: 20px;
}

@media only screen and (min-width: 800px) {
  .siteBody {
    max-width: 800px;
    margin-left: 5%;
  }
}

.blogIndex {
  list-style: armenian;
  font-style: italic;
  font-size: 20px;
}

.blogIndexList li,
.blogIndexList a {
  font-family: futura;
  font-size: 20px;
}
.blogIndexList time {
  font-size: 18px;
}

.taglist a {
  font-size: 10px;
}

.taglist li {
  margin-right: 4px;
  display: inline;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.loading_text {
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
