<!DOCTYPE html>
<html>
  <head>
    <title>John Whiles' website</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" type="text/css" href="common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="main">
    <h1>john whiles</h1>

    <section>
      <h2>link farm</h2>
      <ul>
        <li><a href="https://johnwhiles.bandcamp.com">music</a></li>
        <li><a href="https://github.com/jwhiles">github</a></li>
      </ul>
    </section>

    <section>
      <h2>bloorg</h2>
      {% set posts = get_section(path="blog/_index.md") %} {% for page in posts.pages %} {% if
      page.date %}
      <li>
        <span class="post-meta">{{ page.date | date(format="%Y-%m-%d") }}</span>
        <br>
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        <p>{{ page.description }}</p>
      </li>
      {% endif %} {% endfor %}
    </section>
  </body>
</html>
