module BlogPosts exposing (BlogIndexItem, Tag, blogIndex)


type alias Tag =
    String


type alias BlogIndexItem =
    { title : String
    , date : Int -- an epoch
    , permalink : String
    , tags : List Tag
    }


reverseDateComparator a b =
    case compare a.date b.date of
        LT ->
            GT

        GT ->
            LT

        EQ ->
            EQ


blogIndex : List BlogIndexItem
blogIndex =
    List.sortWith reverseDateComparator <|
--@here
  ]
