@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-4xl;
    @apply my-4;
    @apply font-header;
  }
  h2 {
    @apply text-3xl;
    @apply my-3;
    @apply font-header;
  }
  h3 {
    @apply text-2xl;
    @apply my-2;
    @apply font-header;
  }
  img {
    @apply max-w-lg;
    @apply w-full;
    @apply my-4;
    @apply mx-auto;
  }
  p {
    @apply text-xl;
    line-height: 1.4;
    @apply mb-4;
  }
  ul {
    @apply list-disc;
    @apply my-4;
    @apply ml-6;
  }
  li {
    @apply text-xl;
    line-height: 1.4;
    @apply my-4;
  }
  a {
    color: blue;
  }
}

