@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply my-6;
    @apply font-header;
    @apply tracking-tight
  }
  h2 {
    @apply text-3xl;
    @apply my-5;
    @apply font-header;
  }
  h3 {
    @apply text-2xl;
    @apply my-4;
    @apply font-header;
  }
  img {
    @apply drop-shadow-md;
    @apply my-6;
    @apply mx-auto;
  }
  p {
    @apply text-xl;
    line-height: 1.4;
    @apply mb-4;
  }
  ul {
    @apply list-disc;
    @apply my-4;
    @apply ml-6;
  }
  li {
    @apply text-xl;
    line-height: 1.4;
    @apply my-4;
  }
  a {
    color: blue;
  }
  pre {
    background-color: #f5f5f5;
    @apply overflow-x-auto;
    @apply p-4;
    @apply rounded-md;
    @apply my-4;
  }
  hr {
    @apply my-16;
  }
  blockquote p {
    @apply p-2;
    @apply pl-4;
    @apply italic;
    @apply border-l-4;

    @apply border-gray-200;
    @apply mr-4;

    @apply bg-gray-100;
  }
}

